/* global styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container{
    padding: 0 15px;
    margin: auto;
}
::selection{
    background-color: #71cee389;
}
:root{
    --main-color: #71cee3;
    --second-color: #f57827;
    --dark:#212129;
}
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
@font-face {
    font-family: logo;
    src: url(../font/TheNeue-Black.ttf);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* end global styling */

/* start header  */
header{
    width: 100%;
    background-color: white;
    box-shadow: 1px 3px 5px 2px rgba(63, 63, 63, 0.05);
    letter-spacing: 1px;
    position:sticky;
    top: 0;
    z-index: 100000;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container .logo a{
    display: block;
    line-height: 60px;
    font-family: logo;
    font-size: 40px;
    font-weight: 900;
    background-image:  linear-gradient(150deg ,var(--main-color) 50%,var(--second-color) 55%);
    background-clip:text ;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -ms-background-clip:text;
    -o-background-clip:text;
    color: transparent;
}
header .container .box nav ul{
    display: flex;
}
header .container .box nav ul li a{
    display: block;
    width: 100px;
    text-align: center;
    font-size: 16px;
    line-height: 60px;
    text-transform: capitalize;
    color: var(--dark);
    position: relative;
    transition: background-color 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    overflow: hidden;
    -webkit-transition: background-color 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    -moz-transition: background-color 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    -ms-transition: background-color 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    -o-transition: background-color 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

header .container .box nav ul li a::after{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: -100%;
    background-image:linear-gradient(150deg ,var(--main-color) 50%,var(--second-color) 55%) ;
    transition:all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6) ;
    -webkit-transition:all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6) ;
    -moz-transition:all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6) ;
    -ms-transition:all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6) ;
    -o-transition:all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6) ;
}
header .container .box nav ul li a:hover:after{
    left: 0;
}
header .container .box nav ul li a:hover{
    background-color: #f5792729;
}
header .container .box nav ul li:last-child{
    margin-left: 20px;
}
header .container .box nav ul li form{
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
}
header .container .box nav ul li form input[type="text"]{
    height: 35px;
    outline: 0;
    border: 1px solid var(--main-color);
    border-radius: 20px/ 50%;
    -webkit-border-radius: 20px/ 50%;
    -moz-border-radius: 20px/ 50%;
    -ms-border-radius: 20px/ 50%;
    -o-border-radius: 20px/ 50%;
    padding-left:29px ;
    width: 200px;
}
header .container .box nav ul li form span{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: var(--second-color);
}
header .container .list label{
    display: none;
}
/* md screen */
@media (max-width:992px) {
    header{
        position: sticky;
        top: 0;
    }
    header .container .list .bar{
        display: block;
        font-size: 30px;
        padding: 15px;
        background-image:  linear-gradient(150deg ,var(--main-color) 50%,var(--second-color) 55%);
        background-clip:text ;
        -webkit-background-clip:text;
        -moz-background-clip:text;
        -ms-background-clip:text;
        -o-background-clip:text;
        color: transparent;
    }
    .box{
        position: fixed;
        width: 100%;
        height: calc(100vh - 63px);
        top: 62px;
        right: 0;
        display: flex;
        flex-direction: row;
        z-index: 100;
        top: 63px;
        left: -100%;
        transition:all 0.7s ease;
        -webkit-transition:all 0.7s ease;
        -moz-transition:all 0.7s ease;
        -ms-transition:all 0.7s ease;
        -o-transition:all 0.7s ease;
}
    .box nav ul{
        width: 300px;
        flex-direction: column;
        background-color: white;
        height: calc(100vh - 63px);
    }
    label.back{
        display: block !important;
        width: 0;
        background-color: rgba(0, 0, 0, 0.1);

}
    header .container .box nav ul li a{
        width: 100%;
        margin-bottom: 10px;
    }
    header .container .box nav ul li form{
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    header .container .box nav ul li form span {
        position: absolute;
        left: calc(50% - 90px);
        top: 50%;
}
input[type="checkbox"]:checked ~ .box{
    top: 63px;
    left: 0;
}
input[type="checkbox"]:checked ~ .box .back{
    width: 100%;
    transition:width 0.6s ease 0.5s;
    -webkit-transition:width 0.6s ease 0.5s;
    -moz-transition:width 0.6s ease 0.5s;
    -ms-transition:width 0.6s ease 0.5s;
    -o-transition:width 0.6s ease 0.5s;
}
}
/* end header  */

.landing{
    padding: 100px 0;
    background-image: radial-gradient(circle 400px at 0% 50%,#71cee336 240px,transparent 240px)
                    ,radial-gradient(circle 400px at 0% 50%,#f579275e 120px,transparent 120px)
                    ,radial-gradient(circle 400px at 60% 30%,#f5792739 120px,transparent 120px)
                    ,radial-gradient(circle 400px at 70% 70%,#71cee336 120px,transparent 800px)
                    ,radial-gradient(circle 400px at 40% 70%,#71cee336 120px,transparent 120px);
}
.landing .container{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

.landing .landing-image{
    right: 20px;
    
}
.landing .landing-image img{
    width: 300px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.landing .landing-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
.landing .landing-text ul{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.landing .landing-text ul li a{
    display: block;
    font-size: 20px;
    color: var(--dark);
    opacity: 0.5;
    transition: all 0.3s ease ;
    -webkit-transition: all 0.3s ease ;
    -moz-transition: all 0.3s ease ;
    -ms-transition: all 0.3s ease ;
    -o-transition: all 0.3s ease ;
}
.landing .landing-text ul li a:hover{
    display: block;
    font-size: 20px;
    color: var(--dark);
    opacity: 1;
}
.landing .landing-text h1{
    font-size: 50px;
    font-weight: 600;
    color: var(--second-color);
    text-transform: capitalize;
    margin: 2px 0 10px;
}
.type{
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
.hello{
    text-transform: capitalize;
}
.animation{
    font-size: 30px;
    display: block;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    animation: typing 7s steps(45)  infinite ;
    -webkit-animation: typing 7s steps(45)  infinite ;
    color: var(--main-color);
    border-right: 2px solid var(--main-color);
}
@keyframes typing {
    0%{
        width: 0;
    }
    50%{
        width: 500px;
    }
    100%{
        width: 0;
    }
}
/* md screen */
@media (max-width: 992px) {
    .landing .landing-image img{
        width: 200px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}
@media (max-width: 768px) {
    .landing{
        padding: 50px 0;
    }
    .landing .container{
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .landing .landing-image {
    width:100% ;
    text-align: center;
    }
    .landing .landing-image img{
        width: 250px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .landing{
        padding: 50px 0;
        background-image: radial-gradient(circle 400px at 0% 50%,#71cee336 240px,transparent 240px)
                        ,radial-gradient(circle 400px at 0% 50%,#f579275e 120px,transparent 120px)
                        ,radial-gradient(circle 400px at 70% 10%,#f5792739 120px,transparent 120px)
                        ,radial-gradient(circle 400px at 70% 70%,#71cee336 120px,transparent 800px)
                        ,radial-gradient(circle 400px at 80% 70%,#71cee336 120px,transparent 120px);
    }
    .landing .landing-text h1{
        font-size: 35px;
        font-weight: 600;
        color: var(--second-color);
        text-transform: capitalize;
        margin: 2px 0 10px;
    }
    .animation{
        font-size: 20px;
        display: block;
        overflow: hidden;
        word-break: keep-all;
        white-space: nowrap;
        animation: typing 7s steps(45)  infinite ;
        -webkit-animation: typing 7s steps(45)  infinite ;
        color: var(--main-color);
        border-right: 2px solid var(--main-color);
    }
    @keyframes typing {
        0%{
            width: 0;
        }
        50%{
            width: 310px;
        }
        100%{
            width: 0;
        }
    }
}
/* start skills */
.head{
    margin: 40px 0 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:  center;
}

.head h1{
    font-size: 40px;
    padding: 5px 20px;
    text-transform: capitalize;
    width: fit-content;
    position: relative;
    color: var(--dark);
    cursor: pointer;
}
.head h1::selection{
    background-color: transparent;
    color: var(--dark);
}

.head h1::before{
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--main-color);
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: all 0.5s ;
    -webkit-transition: all 0.5s ;
    -moz-transition: all 0.5s ;
    -ms-transition: all 0.5s ;
    -o-transition: all 0.5s ;
}
.head h1::after{
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--second-color);
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: all 0.5s ;
    -webkit-transition: all 0.5s ;
    -moz-transition: all 0.5s ;
    -ms-transition: all 0.5s ;
    -o-transition: all 0.5s ;

}
.head p {
    margin-top: -20px;
    text-transform: capitalize;
}
.head h1:hover::after{
    width: 50%;
    height: 100%;
    border-radius: 0 5px 5px 0 ;
    -webkit-border-radius: 0 5px 5px 0 ;
    -moz-border-radius: 0 5px 5px 0 ;
    -ms-border-radius: 0 5px 5px 0 ;
    -o-border-radius: 0 5px 5px 0 ;
    right: 0;
    z-index: -1;
    filter: opacity(0.4);
    -webkit-filter: opacity(0.4);
}
.head h1:hover::before{
    width: 50%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    left: 0;
    z-index: -1;
    filter: opacity(0.4);
    -webkit-filter: opacity(0.4);
}
.skills .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.skills .flex .flex-img{
    width: 50%;
}
.skills .flex .flex-img img{
    width: 100%;
}
.skills .flex .progress{
    flex-grow: 1;
}
.skills .flex .progress div{
    margin-top: 30px;
}
.skills .flex .progress div .prog-bar{
    width: 100%;
    height: 35px;
    background-color: #71cee330;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
}
.skills .flex .progress div .prog-bar span{
    height: 35px;
    display: block;
    position: absolute;
    background-color: var(--second-color);
}
.skills .flex .progress div .prog-tex{
    position: relative;
}
.skills .flex .progress div .prog-tex span:first-child{
    font-size: 20px;
}
.skills .flex .progress div .prog-tex span:last-child{
    position: absolute;
    font-size: 20px;
    right: 0px;
    bottom: 10px;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    background-color: var(--main-color);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.skills .flex .progress div .prog-tex span:last-child::after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border: 10px solid;
    border-color: #f57827 transparent transparent transparent;
    bottom: -19px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
@media (max-width: 992px) {
    .skills .flex .flex-img{
        width: 100%;
    }
}
/* end skills */
/* start projects  */
.projects{
    background-image: radial-gradient(circle 400px at 70% 70%,#71cee336 800px,transparent 1200px);
}
@media (max-width:768px) {
    .projects{
        background-image: 
        radial-gradient(circle 800px at 70% 70%,#71cee336 800px,transparent 1200px),
        radial-gradient(circle 800px at 70% 10%,#71cee336 800px,transparent 1200px)
        ;
    }
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));
    gap: 30px;
}

.grid div a{
    overflow: hidden;
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    -webkit-transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    -moz-transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    -ms-transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    -o-transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.grid div img{
    width: 100%;
    height: 100%;
}

.grid div a:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.204);
}
.grid div a::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #00000089;
    top: 0;
    left: 0;
    z-index: 100;
    position: absolute;
    visibility: hidden;
}
.grid div a::after {
    content: "see more";
    width: fit-content;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    visibility: hidden;
}
.grid div a:after ,
.grid div a:before {
    transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6) ;
    -webkit-transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6) ;
    -moz-transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6) ;
    -ms-transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6) ;
    -o-transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6) ;
}
.grid div a:hover::after ,
.grid div a:hover::before {
    visibility: visible;
}
.projects, .skills ,.contact{
    padding: 1px 0 80px;
}
/* end projects */
/* start contact  */
.contact{
    background-image: radial-gradient(circle 400px at 0% 50%,#71cee336 240px,transparent 240px),
                    radial-gradient(circle 400px at 100% 70%, #f579275e  240px,transparent 240px)
    ;
    z-index: -1;
}
.contact form{
    inset: 10px;
    width: 100%;
    max-width: 600px;
    padding: 40px;
    margin: auto;
    box-shadow: 1px 1px 2px 1px rgba(94, 93, 93, 0.103);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    position: relative;
}
.contact form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    position: relative;
}
.contact form .logo{
    display: flex;
    font-size: 80px;
    flex-direction: row;
    justify-content: center;
    justify-content: center;
}
.contact form div input,.contact form input[type="submit"]{
    height: 45px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    outline: none;
    border: none;
    padding: 10px;
    box-shadow: 1px 1px 2px 1px rgba(94, 93, 93, 0.103);
}
.contact form div textarea{
    height: 80px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    outline: none;
    border: none;
    padding: 10px 20px;
    box-shadow: 1px 1px 2px 1px rgba(94, 93, 93, 0.103);
}
.contact form div label{
    font-size: 18px;
    position: absolute;
    text-transform: capitalize;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    left: 20px;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    color: rgba(60, 60, 60, 0.684);
}
.contact form div:last-of-type label{
    top: 20px !important;
}
.contact form div input:focus ~ label{
    top: -12px;
    left: 0;
    font-size: 16px;
}
.contact form div textarea:focus ~ label{
    top: -12px !important;
    left: 0;
    font-size: 16px;
}
.contact form input[type="submit"]
{
    height: 45px;
    width: 100%;
    max-width: 250px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background-color: #71cee35f;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    color: rgba(60, 60, 60, 0.684);
    z-index: 11;
}

.contact form input[type="submit"]:hover
{
    transform: translateX(-50%) scale(1.);
    -webkit-transform: translateX(-50%) scale(1.3);
    -moz-transform: translateX(-50%) scale(1.);
    -ms-transform: translateX(-50%) scale(1.);
    -o-transform: translateX(-50%) scale(1.);
    color: white;
    background-image: linear-gradient(150deg ,var(--main-color) 50%,var(--second-color) 50%);
}
.contact form span:first-of-type{
    inset: 20px;
    position: absolute;
    top: 0;
    right: 60px;
    height: 80%;
    border-right: 20px solid #f57827;
    filter: blur(60px);
    -webkit-filter: blur(60px);
    z-index: -1;
}
.contact form span:last-of-type{
    inset: 10px;
    position: absolute;
    top: 0;
    left: 60px;
    width: 50%;
    height: 80%;
    border-left: 20px solid #71cee3;
    filter: blur(60px);
    -webkit-filter: blur(60px);
    z-index: -1;
}
@media (max-width:768px) {
    .contact .container{
        padding-left: 0;
    }
    .contact form{
        max-width: none;
        padding-right: 0;
        padding-left: 0;
    }
    .contact form input{
        width: 100%;
    }
}
/* end contact */
/* start footer  */
footer {
    width: 100%;
    background-color: var(--dark);
    padding:20px 0 40px 0;
}
footer .container .logo a{
    color: white;
    margin: 20px 0;
}
footer .container .grid-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 20px;
}
footer .container .grid-footer ul li a,footer .container .grid-footer h3{
    display: block;
    width: 50%;
    font-size: 16px;
    padding: 10px;
    text-transform: capitalize;
    color: white;
    opacity: 0.7;
}
footer .container .grid-footer ul li a:hover{
    opacity: 1;
    border-left:2px solid white ;
}
footer .container .grid-footer div{
    height: 200px;
}
footer .container .grid-footer div img{
width: 100%;
height: 100%;
}
@media (max-width:922px) {
    footer .container .grid-footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .area{
        grid-area: 2/1/3/3;
    }
}
@media (max-width:768px) {
    footer .container .grid-footer{
        display: grid;
        grid-template-columns: 1fr ;
        gap: 20px;
    }
    .area{
        grid-area:3/1/4/1;
    }
}
/* end footer  */